<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <i class="bi bi-shield-shaded logo"></i>
            <a class="navbar-brand" th:href="@{/}">Inver</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a th:class="${#httpServletRequest.requestURI.startsWith('/klub') ? 'nav-link active' : 'nav-link'}" th:href="@{/klub}">Klub</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#httpServletRequest.requestURI.startsWith('/zawodnicy') ? 'nav-link active' : 'nav-link'}" th:href="@{/zawodnicy}">Zawodnicy</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#httpServletRequest.requestURI.startsWith('/terminarz') ? 'nav-link active' : 'nav-link'}" th:href="@{/terminarz}">Terminarz</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a th:class="${#httpServletRequest.requestURI.startsWith('/admin') ? 'nav-link active' : 'nav-link'}" th:href="@{/admin}">Panel Administratora</a>
                    </li>
                    <li th:if="${isUserLoggedIn}" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
