<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Radosław Lechowicz">
    <title>INVER - polski klub FootStar</title>
    <th:block th:include="include/css"/>
</head>
<body class="d-flex flex-column h-100">
<th:block th:include="include/header"/>
<main class="flex-shrink-0">
    <div class="container">
        <!-- PAGE CONTENT START -->

        <h1 class="mt-5"><i class="bi bi-sliders"></i> Panel Administratora</h1>

        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" aria-selected="true">Zawodnicy</a>
            </li>
            <li class="nav-item" role="presentation">
                <a th:href="@{/admin/games}" class="nav-link" aria-selected="false">Terminarz</a>
            </li>
        </ul>

        <div class="my-container">
            <h3><i class="bi bi-people-fill"></i> Zawodnicy</h3>
            <div th:if="${param.deletePlayerError}" class="alert alert-danger" role="alert">Wystąpił błąd w czasie usuwania zawodnika!</div>
            <div th:if="${param.savePlayerError}" class="alert alert-danger" role="alert">Wystąpił błąd w czasie zapisywania zawodnika!</div>
            <div th:if="${param.deletePlayerOk}" class="alert alert-success" role="alert">Usunięcie zawodnika zakończyło się sukcesem.</div>
            <div th:if="${param.savePlayerOk}" class="alert alert-success" role="alert">Zapis zawodnika zakończył się sukcesem.</div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <form th:action="@{/admin/player}" method="post">
                                <input type="hidden" name="id" th:value="${player?.id}"/>
                                <div class="h5 mb-3" th:text="${player == null ? 'Dodaj zawodnika' : 'Edytuj zawodnika'}"></div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text width-100">Pozycja</span>
                                    <select class="form-select" name="position" required>
                                        <option value="">Pozycja</option>
                                        <option th:value="BR" th:selected="${player?.position?.equals('BR')}">Bramkarz</option>
                                        <option th:value="OBR" th:selected="${player?.position?.equals('OBR')}">Obrońca</option>
                                        <option th:value="POM" th:selected="${player?.position?.equals('POM')}">Pomocnik</option>
                                        <option th:value="NAP" th:selected="${player?.position?.equals('NAP')}">Napastnik</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text width-100">Zawodnik</span>
                                    <input class="form-control" type="text" name="name" placeholder="Zawodnik" th:value="${player?.name}" maxlength="64" required/>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text width-100">Wiek</span>
                                    <input class="form-control" type="number" name="age" placeholder="Wiek" th:value="${player?.age}" min="17" max="45" step="1" required/>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text width-100">Skille</span>
                                    <input class="form-control" type="number" name="skills" placeholder="Skille" th:value="${player?.skills}" min="0" max="1200" step="1" required/>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text width-100">Exp</span>
                                    <input class="form-control" type="number" name="exp" placeholder="Exp" th:value="${player?.exp}" min="0" max="10" step="1" required/>
                                </div>
                                <div class="mb-3 float-right">
                                    <a th:href="@{/admin}" class="btn width-80 btn-sm btn-secondary">Wyczyść</a>
                                    <button th:text="${player == null ? 'Dodaj' : 'Zapisz'}" type="submit" class="btn width-80 btn-sm btn-success"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="h5 mb-3">Lista zawodników</div>
                            <table class="table">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col">Pozycja</th>
                                    <th scope="col">Zawodnik</th>
                                    <th scope="col">Wiek</th>
                                    <th scope="col">Skille</th>
                                    <th scope="col">Exp</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="player : ${players}">
                                    <td>
                                        <span th:if="${player.position.equals('BR')}">Bramkarz</span>
                                        <span th:if="${player.position.equals('OBR')}">Obrońca</span>
                                        <span th:if="${player.position.equals('POM')}">Pomocnik</span>
                                        <span th:if="${player.position.equals('NAP')}">Napastnik</span>
                                    </td>
                                    <td th:text="${player.name}"></td>
                                    <td th:text="${player.age}"></td>
                                    <td th:text="${player.skills}"></td>
                                    <td th:text="${player.exp}"></td>
                                    <td><a th:href="@{'/admin/player/'+${player.id}}" class="btn width-80 btn-sm btn-light">Edytuj</a></td>
                                    <td><a th:href="@{'/admin/player/delete/'+${player.id}}" class="btn width-80 btn-sm btn-danger">Usuń</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT END -->
    </div>
</main>
<th:block th:include="include/footer"/>
<th:block th:include="include/js"/>
</body>
</html>
